/* GLOBALS */

@import "./fonts.css";

body {
    background-color: rgb(241, 241, 241);
    padding-top: 30px;
    padding-bottom: 30px;
}

/* MAIN STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work sans", sans-serif;
}

input,
select,
textarea {
    all: unset;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    border: 2px solid rgb(169, 169, 169);
    display: block;
    position: relative;
    margin-top: 10px;
    width: 540px;
    border-radius: 3px;
    padding: 0 10px 0 10px;
    color: black;
}

input[type="text"]::placeholder {
    color: rgb(205, 205, 205);
}

textarea {
    padding: 10px;
}

input,
select {
    height: 30px;
    line-height: 30px;
}

label {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 500;
}

label:nth-child(1) {
    margin: 0;
}

button {
    display: block;
    margin: 20px auto 0 auto;
}

.form-container {
    display: flex;
    width: 610px;
    height: 770px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    
    margin: 0 auto 0 auto;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(160, 160, 160, 0.6);
}

.submit-button {
    all: unset;
    width: 100%;
    height: 35px;
    margin-top: 20px;
    background: rgb(92, 92, 253);
    font-family: "Work sans", sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    border-radius: 3px;
}

.submit-button:hover {
    cursor: pointer;
    background: rgb(68, 68, 195);
}

.delete-button {
    all: unset;
    width: 18px;
    height: 100%;
}

.delete-button:hover {
    cursor: pointer;
}

.delete-button img {
    display: block;
    position: relative;
    top: 2px;
    width: 18px;
    height: 18px;
}

/* INPUT DATE ICON STYLING */

input[type="date"]::-webkit-calendar-picker-indicator {
    position: relative;
    top: 5px;
}

/* TABLE STYLING */

#table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0 auto;
    justify-content: center;
    width: 90vw;
}

#data-table {
    width: 1600px;
    max-width: 90vw;
    margin-top: 45px;
    border-collapse: collapse;
    box-shadow: 0px 0px 10px 0px rgba(160, 160, 160, 0.6);
}

#data-table tr, #data-table td, #data-table th, #data-table {
    border: 2px solid rgb(169, 169, 169);
    background: white;
}

#data-table td:nth-child(3), #data-table td:nth-child(4) {
    width: 130px;
}

#data-table td {
    padding: 5px;
    text-align: center;
}

.button-table-cell {
        padding: 0 6px 0 6px !important;
}

/* PDF AND CSV CONVERT BUTTON STYLING */

.buttons-container {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

#pdf-button {
    all: unset;
    background: rgb(253, 111, 92);
    font-family: "Work sans", sans-serif;
    height: 35px;
    width: 300px;
    font-weight: 500;
    color: white;
    text-align: center;
    border-radius: 3px;
}

#pdf-button:hover {
    cursor: pointer;
    background: rgb(197, 83, 68);
}

#csv-button {
    all: unset;
    background: rgb(62, 203, 71);
    font-family: "Work sans", sans-serif;
    height: 35px;
    width: 300px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 3px;
}

#csv-button:hover {
    cursor: pointer;
    background: rgb(43, 147, 50);
}


